<footer class="container pagesection">
    <div class="footer_container">
        <ul class="footer_nav">
            <li class="footer_item"><a href="https://portfoliotvdr.netlify.app"><p>© Théodore van der Rest</p></a></li>
            <li class="footer_item"><p>Datasource : <a href="https://www.themoviedb.org"> <strong>The Movie DB
                        </strong></a></p>
        </ul>
    </div>
</footer>