<!DOCTYPE html>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<%- include('./composite/header'); %>
<div class="container">
    <div class="pagesection">
        <p class="welcome_text">Bienvenue sur <strong> IADMDB </strong>, la référence des critiques cinématographiques
            de professeurs
            désabusés</p>
        <a href='/formulaire' class="button">Cliquez-ici pour rejoindre notre communauté</a>
    </div>
</div>
<%- include('./composite/footer'); %>
</body>
</html>
